* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: white;
}

#game-canvas {
    background-color: black;
}

#score-board {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-over-splash-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
