* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: white;
    font-family: 'operosta', sans-serif;
    background-color: black;
}

#game-canvas {
    background-color: black;
    background-image: url(../assets/space.png);
}

#startScreen,
#game-over,
#game-won {
    position: absolute;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 1.5em;
    border: 4px solid #ffffff;
    color: #ffffff;
    border-radius: 15px;
    background-image: url(../assets/space.png);
}

#score-board {
    position: absolute;
    top: 10px;
    left: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainTitle {
    color: yellow;
    font-size: 2em;
}

.game-over-splash-screen,
.game-won-splash-screen {
    position: absolute;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 1.5em;
    border: 4px solid #ffffff;
    color: #ffffff;
    border-radius: 15px;
    background-image: url(../assets/space.png);
}

.playAgainButton {
    margin-top: 20px;
    font-size: 0.8em;
    display: block;
    color: yellow;
    background-image: url(../assets/space.png);
    border-radius: 20px;
    border: white 2px solid;
    font-family: 'operosta', sans-serif;
}
