* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: white;
    font-family: 'operosta', sans-serif;
    background-image: url(../assets/SPACE.gif);
}

#game-canvas {
    background-image: url(../assets/space.png);
}

#startScreen {
    width: 500px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 4px solid #ffffff;
    color: #ffffff;
    border-radius: 15px;
}

#game-over,
#game-won {
    width: 500px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 4px solid #ffffff;
    color: #ffffff;
    border-radius: 15px;
    background-image: url(../assets/space.png);
}

.intro {
    font-size: 1em;
}

#score-board {
    position: absolute;
    top: 10px;
    left: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainTitle {
    color: yellow;
    font-size: 2em;
}

.playButton {
    margin-top: 20px;
    font-size: 2em;
    display: block;
    color: yellow;
    background-image: url(../assets/space.png);
    border-radius: 20px;
    border: white 2px solid;
    font-family: 'operosta', sans-serif;
    cursor: pointer;
}
